*{
    padding: 0;
    margin: 0;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form{
    margin-top: 10rem;
}
h1{
    text-align: center;
    padding-bottom: 2rem;
}
.formulaire{
    border: solid 1px black;
    padding: 2rem;
}
.formulaire section{
    padding-bottom: 1rem;
}
.annee-scolaire, .name, .naissance, .classe, .bouton, .adresse{
    display: flex;
    justify-content: space-between;
}
.annee-scolaire input, .name input, .naissance input, .classe select, .bouton input, .adresse textarea{
    width: 45%;
}
.adresse{
    align-items: center;
}